
body{
    background-color: #ddd;
    font-family: sans-serif;
}
.container{
   
    width: 100%;
   
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: 0.5rem 0.6rem;
}
nav ul li a.active{
    background-color: aqua;
    color: black;
    border-radius: 5px;
}
.btns{
    color: black;
    font-size: 1.3rem;
    cursor: pointer;
    display: none;
}




@media screen and (max-width:700px) {
    .btns{
        display: block;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 150px;
        height: 100vh;
        top: 5px;
        right: -100%;
        background-color: rgb(47, 47, 129);
        padding: 5rem;
        transition: all 0.5s ease-in;
    }
    nav ul.display{
        right: 0;
        transition: all 0.5s ease-in-out;
    }
    nav ul a{
        display: block;
        margin: 10px;
    }
    .close-btn{
        position: absolute;
        top: 0.5rem;
        left: 16rem;
        color: white;
    }
  
}